In [ ]:
print("Malorie")
print("London")
input("entern a name:")

Malorie
London
entern a name: Malorie

' Malorie'

In [ ]:
name = input("enter your name : ")
city = input("enter a city: ")
print("Hello", name,"from", city)

enter your name : Malorie
enter a city: Paris
Hello Malorie from Paris

Exercise:

Ask the user to enter their name, tel num and city.
Print in the following form
Stelios from Paris tel is 34343434

In [ ]:
name = input("enter your name: " )
city = input(" enter a city: ")
tel = input ("enter your tel nb : ")
print(name, "from", city,"tel is", tel)

enter your name: Malorie
 enter a city: paris
enter your tel nb : 343434434
Malorie from paris  tel is 343434434

In [ ]:
age = int(input("how old are you ? "))
print(age)

how old are you ? 11
11

In [ ]:
x = int (input("choose first number"))
y = int(input("choose second number"))
print(x/y)

choose first number5
choose second number6
11

In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a number: "))

if y==0:
  print("I cannot divide by zero ")
else:
  print(x/y)

enter a number: 10
enter a number: 2
5.0

In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a number: "))
if x>y:
  print(x)
else:
  print(y)

enter a number: 10
enter a number: 2
10

In [ ]:
x = int(input("enter a number: "))

if x>0:
  print("positive")
elif x==0:
  print("zero")
else:
  print("negative")

enter a number: 78
positive

In [ ]:
x = int(input("enter a number: "))

x = int(input("enter a number: "))

enter a number: 10
number between 0 adn 10

In [ ]:
x = int(input("enter your grade: "))

if x<=0 and x<10:
  print("fail")
elif x>=10 and x<15:
  print("pass")
elif x>=15 and x<=20:
  print("distinction")
else:
  print("error")

enter your grade: 16
distinction